* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
/* font-family: 'Alegreya Sans', sans-serif; */
font-family: 'Source Sans Pro', sans-serif;

}

:root {
    /*الخط الطبيعي فيه 16*/
}
 /*start home section */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    padding:12px 40px;
    color: white;
    position:fixed;
    left:0px;
    right:0px;
    z-index: 999;
}

.navbar ul{
    display: flex;
}
ul li {
    list-style-type: none;
  padding-right: 20px;
  padding-top: 5px;
  transition:color 1s ;
}
.item-color{
    color:#ff305b;
}
li:hover{
    color:#ff305b;
}
.home{
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center center;
}
.layer{
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caption-home{
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.caption-home h2{
    font-size: 30px;
}
.caption-home h1{
    font-size: 70px;
    color: #ff305b;
}
.caption-home p{
    line-height: 1.2;
    font-size: 20px;
}

 /*end  home section */


  /* hello section  */
.hello{
    margin-top:120px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content:center;
    align-items: flex-start;
    /* overflow: hidden; */
}
.hello .profile-img {
      width: 40%;
      position: relative;
}
.hello .profile-img::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 10px solid #333;
    border-radius: 5px;
}
.hello .image {
  
   
    position: relative;
    overflow: hidden;
}
.hello .image .layer{
    
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    transition:top 1s
}
.hello .image:hover .layer{
    top:0;
   
}

.hello .image img {
   width: 100%;
}

.hello-caption{
    padding: 0 20px;
 width: 60%;
}
.hello-caption h2{
    position: relative;
    font-size: 32px;
    padding-left: 10px;
    color: #333;
}
.hello-caption h2::before{
    content: '';
    background-color: #ff305b;
    width: 4.5px;
    height: 30px;
    position: absolute;
    top:3px;
    left:-2px;
}
.hello-caption  p{
    color: #555555;
    margin-top: 20px;
    font-weight: 500;
}
.p-style{
  
    opacity: 0.4;
}
.hello-caption ul{
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
.hello-caption ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#555555;
    font-weight: 600;
}
.hello-caption .info {
    display:flex;
    flex-wrap:wrap
}
.hello-caption ul li span{
    color:#333;
    padding-right: 6px;
}
.hello-caption button{
    background-color: #ff305b;
    border: none;
    padding: 15 25px;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
}
/* end hello section  */

 /* our-services section  */
 .our-services{
    background-color:#f1f1f1;
    margin-top: 120px;
    padding: 37px 0px;
 }

 .ourservices-title{
    color: #333;
    font-size: 35px;
    display: flex;
    justify-content: center;
   
 }
 .after-line{
    width: 160px;
    height: 1.5px;
    background-color: #ff305b;
    text-align: center;
    position: relative;
   margin: auto;
   margin-top: 10px;
   
 }
 .after-line::before{
    content: '';
    background-color:#ff305b;
    position: absolute;
    top:-7px;
    left:30px;
    width: 60%;
    height: 100%;
 }
 .after-line::after{
    content: '';
    background-color:#ff305b;
    position: absolute;
    top:7px;
    left:30px;
    width: 60%;
    height: 100%;
 }
 .ourservices-items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    text-align: center;
    padding: 20px 40px;
 }
 .item{
    padding: 20px;
    transition: background-color 1s,  box-shadow 1s;
    width: 25%;
 }
 .item i{
    padding-top: 15px;
    color: #ff305b;
    transition: transform .8s;
 
 }
 .item h3{
    font-size: 22px;
    color: #333;
    padding-top: 34px;
 }
 .item p{
    color: #555555;
    padding-top: 14px;
    line-height: 2;
 }

 .item:hover{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }

 .item:hover i{
    transform: scale(1.2);
 }

 /* end our-services section  */

 /* start Our-Portfolio  section  */
 .our-portfolio{
    margin-top: 120px;
 }
.ourport-list{
    margin-top: 50px;
}
 .ourport-list ul {
    display: flex;
    justify-content: center;
    margin-top: 15px;
 }

.ourport-list ul li{
    font-size: 19px;
    color: #333;
}
.ourport-list ul li span{
   color: #ff305b;
}
 .ourport-card{
   margin-top: 39px;
   display: flex;
   flex-wrap: wrap;
    padding-top: 20x;
    justify-content: space-between;
 }

 .ourport-card .box {
    width: calc(100% / 3 - 20px);
    margin-bottom: 20px;
 }
.ourport-card .box img {
    width: 100%;
}
 
.ourport-card .card {
    position: relative;
    overflow: hidden;
}
 .layer-image{
    background-color:rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 4px;
}
.card:hover .layer-image{
opacity: 1;
 }
 /* end Our-Portfolio  section  */

 /* start Statistic section  */
.statistic{
background-color: #f1f1f1;
margin-top: 120px;
padding:90px
}
.statistic .static-items {
width: 25%;
}
.statistic .static-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap:20px
    }
.static-items i{
    color: #ff305b;
}
.static-items h3{
    padding-top: 30px;
    font-size: 26px;
    color: #333;
}
.static-items p{
    color: #555555;
    padding-top: 10px;
}
/* end  Statistic section  */

/* start feedback section */

.feedback{
    margin-top: 120px;
}
.feedback .feed-area {
    width: 80%;
    margin: auto;
}
.feedback-content {
    margin-top: 70px;
background-image: linear-gradient(135deg, #ff305b 20%, #f1f1f1 20%);
border-radius: 7px;
display: flex;

padding: 30px 50px;
}

.feedback-content .content-img{
    width: 18%;
   
}
.content-img img{
    width: 100%;
    border-radius: 50%;
}
.feedback-content .content-info{
    width: 75%;
    padding:20px 40px;
}
.content-info h3{
    font-size: 26px;
    color: #333;
}
.content-info h5{
    color: #777777;
    font-size: 15px;
    padding-top: 10px;
}
.content-info p{
    color: #555;
    padding-top: 10px;
}
.reating-star{
    color: #f1c30d;
    margin-top: 30px;
}
.slid-style{
    color: #ff305b;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.slid-style .slid1{
    width:30px;
    height: 10px;
    background-color: #ff305b;
    border-radius: 9px;
   margin-right: 7px;
}
.slid-style .slid2{
    width:10px;
    height: 10px;
    border-radius: 50%;
    border:solid 2px #ff305b;
    margin: 0px 3px;
    padding:4px;

}
/* end feedback section */

 /*start our blog section  */
.blog{
    background-color: #f1f1f1;
    margin-top: 120px;
    padding: 60px;
}
.blog-content{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: calc(45px / 2);
    flex-wrap: wrap;

}

.blog-content .blog-content-items{
    width: calc((100% - 45px) / 3 );
    /*
    (100% - عدد البكسلات ال عاوز اسيبها بينهم)
    /  عدد الديفات ال عاوزهم يظهروا في الصف
    */
  
    
}
.blog-content-items img , .blog-content-items iframe{
    width: 100%;/*مادام هياخدوا نفس الخصائص*/
    aspect-ratio: 4/3;
}
 
.blog-content-items p{
    color: #555;

    
}

.blog-content-items p , h3,h4{
    padding-left: 20px;
    padding-top: 20px;
}
.blog-content-items h3{
    color: #333;
    font-size: 24px;
}

.blog-content-items h4{
    color: #333;
    font-size: 17px;
    transition: color 1s;
    cursor: pointer;
}
.blog-content-items h4:hover{
    color: #ff305b;
}
 /*end our blog section  */

 /* contact us section */
 .contact-us{
    margin-top: 120px;

 }
 .contact-info{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .contact-info input{
    border: solid 1.5px #ccc;
    width: 100%;
    height: 40px;
    border-radius:4px;
    color: #ccc;
    padding: 15px;
 }
 .contact-info input ::placeholder{
margin-right: 30px;
 }
 .contact-info .info{
    padding: 15px;
   
 }
 
 .contact-info textarea{
    border: solid 1.5px #ccc;
    width: 100%;
    height:100px;
    padding: 13px;

 }
 .contact-info .info1, .info2{
    width: 50%;
 }
 .contact-info .info3, .info4{
    width: 100%;
 }

::placeholder{
    color: #777;
    opacity: 0.7;
}
.contact-info button{
    padding: 14px 18px;
    margin-left: 14px;
    margin-top: 10px;
    color: white;
    background-color: #ff305b;
    border: none;
    border-radius: 4px;
    line-height: 1.2rem;
}
 /*end contact us section */

 footer{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 90px;
 }

 footer .footer-content{
    text-align: center;
 }

 .footer-content i{
    margin-left: 14px;
    transition: color 1.2s;
 }
 .footer-content p span{
    color: #ff305b;
 }
.footer-content p{
    margin-top: 15px;
}
 .footer-content i:hover{
    color: #ff305b;
 }
/* ------------------------- Start Media -------------------*/
/*دي الميديا ال بعملها للي كونتينر مش بحبها في الريسبونسف*/
.container {
    margin: auto;
    width: 100%; /*small screen  < 576 px*/
    padding: 0 10px;
}
@media (min-width:576px) {
    .container {
        width: 540px;
    }
}
@media (min-width:768px) {
    .container {
        width: 720px;
    }
}
@media (min-width:992px){
    .container {
        width: 960px;
    }
}
@media (min-width:1200px){
    .container {
        width: 1140px;
    }
}
@media (min-width:1400px){
    .container {
        width: 1320px;
    }
}

/*----------------------------- بنقص منهم واحد*/
@media (max-width:1199.98px) {

}

@media (max-width:991.98px) {
    .static-content   .static-items{
        width: calc(100% / 3);
        margin-bottom: 25px;
    }
}

@media (max-width:767.98px) {

.navbar {
    flex-direction: column;
    text-align: center;
}

.navbar ul{ 
    justify-content: center;
}

.hello .profile-img , .hello-caption {/*عشان الاتنين عاوزيهم 100% بدل مكتبها من الاول*/
    width: 100%;
}

.hello .profile-img::before  {
    all: unset;
}

.hello-caption ul{
    width: 100%;
}

.ourservices-items .item{
   width:50%;
}
.ourport-card .box{
    width:50%
}
.blog-content .blog-content-items{

    width: calc((100% - 45px) / 2 );

}


.static-content   .static-items{
    width: 50%;
    margin-bottom: 25px;
}

.feedback-content {
    flex-direction: column;
    align-items: center;
}
.feedback-content .content-img{
    width: 50%;
}

.feedback .feed-area {
    width: 100%;
}

.feedback-content .content-info {
    width: 100%;
    padding: 0;
}
}


@media (max-width:575.98px) {
    .navbar ul{ 
        flex-direction: column;
    }




    .ourservices-items .item{
        width:100%;
     }

     .ourport-card .box{
        width:100%
    }

    .static-content   .static-items{
        width: 100%;
        margin-bottom: 25px;
    }


    .blog-content .blog-content-items{

        width: calc((100% - 45px) / 1);
    
    }

    .contact-info .info1, .info2{
        width: 100%;
     }

     .ourport-list ul {
        flex-direction: column;
       text-align: center;
     }
}
